p {
  margin: 0;
}

#main-footer {
  background: #343a40;
  color: #ffffff;
}
#page-header {
  height: 200px;
  background: url("../assets/img/main.jpg");
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
